/* nailiyyetler */
.about_achievment{
    margin-top: 3rem;
}
.about_achievments-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about_achievments-right p{
    margin: 1.6rem 0 2.5rem;
}
.about_achievments-left{
    margin-top: 70px;
}
.achievment_cards{
   display: grid; 
   grid-template-columns: repeat(3,1fr);
   gap: 1.5rem;
}
.achievment_card{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
.achievment_card:hover{
    background: var(--color-bg2);
    box-shadow:0 3rem 3rem rgba(0,0,0,0.3);
}
.achievment_icon{
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.achievment_card:nth-child(2) 
.achievment_icon{
background: var(--color-success);
}
.achievment_card:nth-child(3) 
.achievment_icon{
background: var(--color-primary);
}
.achievment_card p{
    margin-top: 1rem;
}
/* komanda */
.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.team_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.team_member{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}
.team_member:hover{
    background: transparent;
    background-color: var(--color-primary);
}
.team_member_img img{
    filter: saturate(0);
}
.team_member_img:hover img{
    filter: saturate(1);
}
.team_member_info{
    text-align: center;
    margin-top: 1.4rem;
}
.team_member_info p{
    color: whitesmoke;
}
.team_member_socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0,0,0,0.3);
    transition: var(--transition);
}
.team_member:hover
.team_member_socials{
    right: 0;
}
.team_member_socials a{
    padding: 1rem;
}

/* RESPONSIVLIK */

/* tabletler */
@media screen and (max-width:1024px) {
    .about_achievment{
        margin-top: 2rem;
    } 
    .about_achievments-container{
        grid-template-columns: 1fr;
    }
    .about_achievments-left{
        width: 80%;
        margin: 0 auto;
    }
    .team_container{
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
    }
    .team_member{
        padding: 1rem;
    }
}
/* mobile telefon */
@media screen and (max-width:600px)  {
 .achievment_cards{
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
 }
 .team_container{
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
 }
 .team_member{
    padding: 0;
 }
 .team_member p{
    margin-bottom: 1.5rem;
 }
}